{% extends "layout.html" %}
{% block title %}Graph{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="fullpage">
    <div class="section container-fluid graph-section text-center">
        <h1>Week Timeline</h1>
        <h6 class="text-muted">{{ qt }}</h6>
        <div class="chart-container mx-auto">
            <canvas id="myChart" responsive=true maintainAspectRatio=false></canvas>
        </div>
    </div>
</div>
<script>
    {% if sentiment == 'Positive' %}
        var backgroundCol = 'rgba(14, 240, 48, 0.8)';
    {% elif sentiment == 'Negative' %}
        var backgroundCol = 'rgba(184, 0, 0, 0.8)';
    {% else %}
        var backgroundCol = 'rgba(0, 0, 0, 1)';
    {% endif %}
var ctx = document.ge
var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: '{{graph}}',
    data: {
        labels: ['1','2','3','4','5','6','7','8','9','10',
		'11','12','13','14','15','16','17','18','19','20',
		'21','22','23','24','25','26','27','28','29','30',
		'31','32','33','34','35','36','37','38','39','40',
		'41','42','43','44','45','46','47','48','49','50',
		'51','52'],
        datasets: [{
            label: '# of {{sentiment}} Tweets',
            data: [{% for item in word_count %}
				{{item}},
			{% endfor %}],
            {% if graph == "bar" %}
			backgroundColor: [
				{% for item in word_count %}
				'rgba(216, 27, 96, 0.6)',
				{% endfor %}
            ],
            borderColor: [
                {% for item in word_count %}
                    'rgba(216, 27, 96, 1)',
                {% endfor %}
            ],
            {% else %}
            backgroundColor: backgroundCol,
            borderColor: backgroundCol,
            {% endif %}
			borderWidth: 1,
            fill: false
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        },
        tooltips: {
            enabled: true,
            callbacks: {
                label: (tooltipItem, data) => {
                    var label = data.datasets[tooltipItem.datasetIndex].label || '';

                    if (label) {
                        label += ': ';
                    }
                    label += Math.round(tooltipItem.yLabel * 100) / 100;
                    return label;
                },
                labelColor: (tooltipItem, chart) => {
                    return {
                        backgroundColor: backgroundCol,
                        borderColor: backgroundCol,
                    };
                },
                labelTextColor: (tooltipItem, chart) => {
                    return '#543453';
                }
            }
        }
    }
});
</script>
<!-- Set whether content is vertically centred -->
{% block vcentered %}false{% endblock %}
{% endblock %}