{% extends "layout.html" %}
{% block title %}Graph{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
    <div class="wrapper">
		<p>{{ word_count }} {{ word_count2 }}</p>
      <h1>World population over time</h1>
      <h2>Number of people (in millions) living on earth, the last 500 years</h2>
	<canvas id="myChart" width="400" height="400"></canvas>
    </div>

    <!--<script src="static/script.js"></script>-->
<script>
var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["{{ word }}", "{{ word2 }}"],
        datasets: [{
            label: '# of Word Uses',
            data: [{{ word_count }}, {{ word_count2 }}],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>
{% endblock %}