{% extends "layout.html" %}
{% block title %}Graph{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div id="fullpage">
    <div class="section container-fluid graph-section text-center">
        <h1 class="mt-3">Net Sentiment of Tweets (Yearly)</h1>
        <h6 class="text-muted">{{ qt }}</h6>
        <div class="chart-container mx-auto">
            <canvas id="myChart" responsive=true maintainAspectRatio=false></canvas>
        </div>
    </div>
</div>
<script>
        var backgroundCol = 'hsl(142, 30%, 60%)';
        var pos = [];
        var neg = [];
        var diff = [];
        var labelList = [];
        var countResults = {{ word_count|tojson|safe }};
        console.log({{ randtw|tojson|safe }});
        let i = 0;
        Object.entries(countResults).forEach(el => {
            posPerc = (el[1]['positive_sentiment'] / el[1]['count']) * 100;  // Calculate positive sentiment percentage (positive / total * 100)
            negPerc= (el[1]['negative_sentiment'] / el[1]['count']) * 100;  // Calculate negative sentiment percentage
            diff[i] = posPerc - negPerc;  // Calculate net sentiment (positive percent - negative percent) = net sentiment
            pos[i] = el[1]['positive_sentiment'];
            neg[i] = el[1]['negative_sentiment'];
            labelList[i] = el[1]['_id']['year']
            i++;
        });
        {% if graph == 'bar' %}
            const colours = diff.map((value) => value < 0 ? 'rgb(229, 120, 115)' : 'hsl(142, 30%, 60%)');  // Used to colour positive/negative bar graph
        {% else %}
            const colours = 'hsl(142, 30%, 60%)';
        {% endif %}
        var posDataset = {
            data: diff,
            borderColor: colours,
            backgroundColor: colours,
            fill: false,
            label: '% of Tweets',
        };

var ctx = document.getElementById('myChart');
var myChart = new Chart(ctx, {
    type: '{{graph}}',
    data: {
        labels: labelList,
        datasets: [posDataset],
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                },
                scaleLabel: {
                    display: true,
                    labelString: 'Percentage (%) +/-'
                },
            }],
            xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Year'
                }
            }]
        },
        tooltips: {
            enabled: true,
            callbacks: {
                label: (tooltipItem, data) => {
                    var label = [data.datasets[tooltipItem.datasetIndex].label || ''];
                    if (label) {
                        label[0] += ': ';
                    }
                    label[0] += Math.round(tooltipItem.yLabel * 100) / 100;
                    label.push('# Positive Tweets: ' + pos[tooltipItem["index"]]);
                    label.push('# Negative Tweets: ' + neg[tooltipItem["index"]]);
                    label.push('Total Tweet Count: ' + countResults[tooltipItem["index"]]["count"]);
                    return label;
                },
                labelColor: (tooltipItem, chart) => {
                    return {
                        borderColor: backgroundCol,
                        backgroundColor: backgroundCol
                    };
                },
                labelTextColor: (tooltipItem, chart) => {

                    return '#543453';
                }
            },
            titleFontFamily: "'Oxygen', sans-serif",
            titleFontSize: 20,
            bodyFontFamily: "'Source Sans Pro', sans-serif",
            bodyFontSize: 18,
        }
    }
});
</script>
<!-- Set whether content is vertically centred -->
{% block vcentered %}false{% endblock %}
{% endblock %}